<div class="box-cursos box-aula">
  <div class="container">
    <iframe src="https://player.vimeo.com/video/49384334" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="box-aulas container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-aulas">
        <li class="header">Aulas</li>
        <li class="watched">
          <a href="aula">
            <i class="fa fa-check"></i> Introdução
            <span class="label label-primary m-l-10">Grátis</span>
            <time>18 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Estrutura de pastas
            <span class="label label-primary m-l-10">Grátis</span>
            <time>14 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Configuração Gulp e Git
            <time>10 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Criando o app e entendo o Angular
            <time>25 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Primeiro controller
            <time>22 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Service e directive
            <time>17 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Views e snippets
            <time>19 min</time>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
