<div class="container container-blog">
  <h1>Confira nossas últimas postagens</h1>
  <div class="col-sm-9 container-lista">
    <article class="blog-item">
      <div class="image-container">
        <img src="assets/img/post-example2.jpg" alt="Contributing to Open Source Software with Git">
      </div>
      <div class="info-container">
        <header>
          <h1><a href="#">Contributing to Open Source Software with Git</a></h1>
          <p>
            <i class="fa fa-user"></i>
            <a href="#">Cleiton Souza</a>
            em
            <a href="#">Git</a>
            <i class="separator">|</i>
            <i class="fa fa-calendar"></i>
            28/04/2015
            <i class="separator">|</i>
            <i class="fa fa-comments"></i>
            20
          </p>
        </header>
        <div class="excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam delectus explicabo iusto minima, nobis pariatur praesentium ullam! Consequatur doloribus labore, libero odit perspiciatis quia quibusdam sunt veritatis vitae voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam delectus explicabo iusto minima, nobis pariatur praesentium ullam! Consequatur doloribus labore, libero odit perspiciatis quia quibusdam sunt veritatis vitae voluptate.
        </div>
        <footer class="keyword-cloud">
          <a href="#">git</a>
          <a href="#">open source</a>
          <a href="#">angularJS</a>
        </footer>
      </div>
    </article>
    <article class="blog-item">
      <div class="image-container">
        <img src="assets/img/post-example3.jpg" alt="Why You Shouldn’t Be Scared of TypeScript">
      </div>
      <div class="info-container">
        <header>
          <h1><a href="#">Why You Shouldn’t Be Scared of TypeScript</a></h1>
          <p>
            <i class="fa fa-user"></i>
            <a href="#">Diego Schell</a>
            em
            <a href="#">Javascript</a>
            <i class="separator">|</i>
            <i class="fa fa-calendar"></i>
            08/02/2016
            <i class="separator">|</i>
            <i class="fa fa-comments"></i>
            48
          </p>
        </header>
        <div class="excerpt">
          Unsurprisingly, quite a few people see TypeScript as suspicious, at best. And that's fair enough -- at the end of the day, even TypeScript compiles down to raw JS. It's not like we absolutely need an intermediate step. Being a purist myself, I understand the sentiment! But, there are real benefits to the extras that TypeScript brings, whether you use it or not; and there's no reason for suspicion, either way.
        </div>
        <footer class="keyword-cloud">
          <a href="#">es6</a>
          <a href="#">javascript</a>
          <a href="#">typescript</a>
        </footer>
      </div>
    </article>

    <ul class="paginate">
      <li class="prev"><a href="#">Anterior</a></li>
      <li class="next"><a href="#">Próxima</a></li>
      <li class="count">1 de 12</li>
    </ul>
  </div> <!-- end col-sm-9 -->
  <aside class="col-sm-3">
    <form action="" method="get" id="search">
      <label for="s">
        <input type="search" name="s" id="s" placeholder="Busca...">
      </label>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="box mais-vistas">
      <div class="title">Postagens mais vistas</div>
      <a href="#">Contributing to Open Source Software with Git</a>
      <a href="#">Why You Shouldn’t Be Scared of TypeScript</a>
      <a href="#">Contributing to Open Source Software with Git</a>
      <a href="#">Why You Shouldn’t Be Scared of TypeScript</a>
      <a href="#">Contributing to Open Source Software with Git</a>
    </div>
  </aside> <!-- end com-sm-3 -->
</div>