<script type="text/javascript">
  $(function () {
    // busca
    $('#search').on('submit', function(event) {
      event.preventDefault();
      var form = $(event.target);

      if (!form.hasClass('open')) {
        form.addClass('open').find('#s').trigger('focus');
        event.preventDefault();
      } else {
        var input = form.find('#s');

        if (!input.val().length) {
          input.addClass('error').focus();
          event.preventDefault();
        } else
          input.removeClass('error');
      }
    });

    // fecha busca
    $('body').on('click', function(event) {
      if (!$(event.target).closest('#search').length)
        if ($('#search').hasClass('open'))
          $('#search').removeClass('open').find('#s').removeClass('error');
    });
  });
</script>

<div class="box-header-title">
  <div class="container">
    <div class="has-search">
      <h1>Blog</h1>

      <form action="" method="get" id="search">
        <label for="s">
          <input type="search" name="s" id="s" placeholder="Busca...">
        </label>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <nav>
      <ul>
        <li class="active"><a href="">Todos os posts</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Angular</a></li>
        <li><a href="">ReactJS</a></li>
        <li><a href="">ES6</a></li>
        <li><a href="">Automação</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container container-blog">
  <p class="subtitle">Todos os posts</p>
  <div class="grid-3 grid-lg-md-2 grid-md-1">
    <article class="blog-item">
      <a href="#"><div class="image-container" style="background-image:url(assets/img/post-example.jpg)"></div></a>
      <div class="info">
        <header>
          <h1><a href="#">Why You Shouldn’t Be Scared of TypeScript</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
        </header>
        <footer>
          <span>08/02/1995</span>
          <div class="tags">
            <a href="">es6</a>
            <a href="">javascript</a>
            <a href="">typescript</a>
          </div>
        </footer>
      </div>
    </article>
    <article class="blog-item">
      <a href="#"><div class="image-container" style="background-image:url(assets/img/post-example.jpg)"></div></a>
      <div class="info">
        <header>
          <h1><a href="#">Why You Shouldn’t Be Scared of TypeScript</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
        </header>
        <footer>
          <span>08/02/1995</span>
          <div class="tags">
            <a href="">es6</a>
            <a href="">javascript</a>
            <a href="">typescript</a>
          </div>
        </footer>
      </div>
    </article>
    <article class="blog-item">
      <a href="#"><div class="image-container" style="background-image:url(assets/img/post-example.jpg)"></div></a>
      <div class="info">
        <header>
          <h1><a href="#">Why You Shouldn’t Be Scared of TypeScript</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
        </header>
        <footer>
          <span>08/02/1995</span>
          <div class="tags">
            <a href="">es6</a>
            <a href="">javascript</a>
            <a href="">typescript</a>
          </div>
        </footer>
      </div>
    </article>
  </div>
</div>
