<script type="text/javascript">
  $(function () {
    // busca
    $('#search').on('submit', function(event) {
      event.preventDefault();
      var form = $(event.target);

      if (!form.hasClass('open')) {
        form.addClass('open').find('#s').trigger('focus');
        event.preventDefault();
      } else {
        var input = form.find('#s');

        if (!input.val().length) {
          input.addClass('error').focus();
          event.preventDefault();
        } else
          input.removeClass('error');
      }
    });
 
    // fecha busca
    $('body').on('click', function(event) {
      if (!$(event.target).closest('#search').length)
        if ($('#search').hasClass('open'))
          $('#search').removeClass('open').find('#s').removeClass('error');
    });
  });
</script>

<div class="box-header-title">
  <div class="container">
    <div class="has-search">
      <h1>Blog</h1>

      <form action="" method="get" id="search">
        <label for="s">
          <input type="search" name="s" id="s" placeholder="Busca...">
        </label>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <nav>
      <ul>
        <li class="active"><a href="">Todos os posts</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Angular</a></li>
        <li><a href="">ReactJS</a></li>
        <li><a href="">ES6</a></li>
        <li><a href="">Automação</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container container-blog">
  <p class="subtitle">Todos os posts</p>
  <!--<div class="col-sm-9 container-lista">-->
    <div class="col-sm-12 p-0 container-lista">
    <article class="blog-item test">
      <div class="image-container" style="background-image:url(assets/img/post-example.jpg)"></div>
      <header>
        <h1><a href="#">What is PhantomJS and How is it Used?</a></h1>
      </header>
      <footer>
        <span>08/02/1995</span>
        <a href="">phantonjs</a>
        <a href="">javascript</a>
      </footer>
    </article>
    <article class="blog-item test">
      <div class="image-container" style="background-image:url(assets/img/post-example2.jpg)"></div>
      <header>
        <h1><a href="#">Contributing to Open Source Software with Git</a></h1>
      </header>
      <footer>
        <span>08/02/1995</span>
        <a href="">git</a>
        <a href="">open source</a>
      </footer>
    </article>
    <article class="blog-item test">
      <div class="image-container" style="background-image:url(assets/img/post-example3.jpg)"></div>
      <header>
        <h1><a href="#">Why You Shouldn’t Be Scared of TypeScript</a></h1>
      </header>
      <footer>
        <span>08/02/1995</span>
        <a href="">es6</a>
        <a href="">javascript</a>
        <a href="">typescript</a>
      </footer>
    </article>

    <ul class="paginate">
      <li class="prev"><a href="#">Anterior</a></li>
      <li class="next"><a href="#">Próxima</a></li>
      <li class="count">1 de 12</li>
    </ul>
  </div>
  <!--<aside class="col-sm-3">
    <form action="" method="get" id="search">
      <label for="s">
        <input type="search" name="s" id="s" placeholder="Busca...">
      </label>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="box mais-vistas">
      <div class="title">Postagens mais vistas</div>
      <a href="#">Contributing to Open Source Software with Git</a>
      <a href="#">Why You Shouldn’t Be Scared of TypeScript</a>
      <a href="#">Contributing to Open Source Software with Git</a>
      <a href="#">Why You Shouldn’t Be Scared of TypeScript</a>
      <a href="#">Contributing to Open Source Software with Git</a>
    </div>
  </aside>--> <!-- end com-sm-3 -->
</div>