<div class="box-cursos">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/frontend.png" alt="">
          </div>
          <div class="info">
            <h2>Front-end</h2>
            <p>CSS, Javascript, Angular, React, SASS, Gulp, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/backend.png" alt="">
          </div>
          <div class="info">
            <h2>Back-end</h2>
            <p>PHP, Ruby on Rails, Laravel, Node, Express, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/mobile.png" alt="">
          </div>
          <div class="info">
            <h2>Mobile</h2>
            <p>Ionic, Cordova, Phonegap, jQuery Mobile, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/design.png" alt="">
          </div>
          <div class="info">
            <h2>Design & UX</h2>
            <p>UX, Photoshop, Sketch, Interfaces, E-mail, entre outros...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/ecommerce.png" alt="">
          </div>
          <div class="info">
            <h2>E-commerce</h2>
            <p>Magento, WooCommerce, Módulos, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/seo.png" alt="">
          </div>
          <div class="info">
            <h2>SEO</h2>
            <p>Estrutura, semântica, elementos, padrões, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/infra.png" alt="">
          </div>
          <div class="info">
            <h2>Infra</h2>
            <p>Amazon AWS, Digital Ocean, Ubuntu, Linux, entre outros...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="curso">
          <div class="image">
            <img src="assets/img/business.png" alt="">
          </div>
          <div class="info">
            <h2>Business</h2>
            <p>Trabalho remoto, marketing, agile, scrum, entre outros...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
