<div class="box-cursos-title">
  <div class="container">
    <p>Cursos de</p>
    <h1>Front-end</h1>

    <nav>
      <ul>
        <li class="active"><a href="">Todos os cursos</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Angular</a></li>
        <li><a href="">ReactJS</a></li>
        <li><a href="">ES6</a></li>
        <li><a href="">Automação</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="box-cursos-list container">
  <h2>Cursos de ReactJS</h2>
  <div class="row">
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/react.png" alt="">
        <h3>ReactJS: Iniciante</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          32h
          <span>Básico</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/angular.png" alt="">
        <h3>AngularJS: Iniciante</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          48h
          <span>Básico</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/angular.png" alt="">
        <h3>AngularJS: Intermediário</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          18h
          <span>Intermediário</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="box-cursos-list container">
  <h2>Cursos de AngularJS</h2>
  <div class="row">
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/angular.png" alt="">
        <h3>ReactJS: Iniciante</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          32h
          <span>Básico</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/react.png" alt="">
        <h3>AngularJS: Iniciante</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          48h
          <span>Básico</span>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="curso" class="curso">
        <img src="assets/img/angular.png" alt="">
        <h3>AngularJS: Intermediário</h3>
        <p>Estrutura de pastas, controllers, models, services e muito mais...</p>
        <div class="info hidden-xs">
          18h
          <span>Intermediário</span>
        </div>
      </a>
    </div>
  </div>
</div>
