<div class="box-cursos box-curso">
  <div class="container">
    <img src="assets/img/angular.png" alt="">
    <h1>Angular: Iniciante</h1>
    <p>Entenda porquê o poderoso framework do Facebook já está no topo do mercado.</p>
    <div class="info">
      48h
      <span>Iniciante</span>
    </div>
    <a href="" class="btn btn-lg btn-alt btn-primary m-t-20">Matricule-se agora <i class="fa fa-graduation-cap"></i></a>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('ul.list-aulas li').on('click', function(e) {
      var target = $('.box-aula');
      $(this).addClass('active').siblings('li').removeClass('active');
      if (!target.hasClass('box-aula-open')) {
        var _h = $(window).height();

        $('.box-aula').addClass('box-aula-open');
        $('.box-aula').height(_h);
        $('.box-aula iframe').height(_h - 185);

        $('aside').hide();
      }

      $('html, body').stop().animate({ scrollTop: (target.offset().top) }, 500, 'swing');

      e.preventDefault();
    });

    $('.box-aula .close').on('click', function() {
      var target = $('.box-aula');
      $('ul.list-aulas li').removeClass('active');
      target.removeClass('box-aula-open').css({height: 0});
      $('aside').show();
    });
  });
</script>

<div class="box-cursos box-aula">
  <div class="container-fluid">
    <div class="top">
      <ul>
        <li><a href="" class="btn btn-default btn-alt">Dúvidas <span class="hidden-xs">da aula</span> <i class="fa fa-question"></i> </a></li>
        <li><a href="" class="btn btn-default btn-alt">Discussão <span class="hidden-xs">do curso</span> <i class="fa fa-comments"></i> </a></li>
        <li><a href="" class="btn btn-alt">Enviar <i class="fa fa-share"></i> </a></li>
      </ul>
      <a href="" class="close"><i class="fa fa-remove"></i></a>
      <div class="clearfix"></div>
    </div>
    <iframe src="https://player.vimeo.com/video/49384334" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <div class="info">
      <div class="pull-left">
        <p>AngularJS: Iniciante</p>
        <h2>Estrutura de pastas</h2>
      </div>
      <div class="pull-right">
        <p>Iniciante</p>
        <time>18 min</time>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="info-curso">
    <li><i class="fa fa-user"></i> Apresentado por <strong>Diego Schell Fernandes</strong></li>
    <li><i class="fa fa-clock-o"></i> 180 minutos de curso</li>
    <li><i class="fa fa-file-text-o"></i> 3h de certificado</li>
  </ul>
</div>

<div class="box-aulas container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-aulas">
        <li class="header">Aulas</li>
        <li class="watched">
          <a href="#">
            <i class="fa fa-check"></i> Introdução
            <span class="label label-primary m-l-10">Grátis</span>
            <time>18 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Estrutura de pastas
            <span class="label label-primary m-l-10">Grátis</span>
            <time>14 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Configuração Gulp e Git
            <time>10 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Criando o app e entendo o Angular
            <time>25 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Primeiro controller
            <time>22 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Service e directive
            <time>17 min</time>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-play-circle"></i> Views e snippets
            <time>19 min</time>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
