<div class="box-cursos box-curso">
  <div class="container">
    <img src="assets/img/angular.png" alt="">
    <h1>Angular: Iniciante</h1>
    <p>Entenda porquê o poderoso framework do Facebook já está no topo do mercado.</p>
    <div class="info">
      48h
      <span>Iniciante</span>
    </div>
  </div>
</div>

<div class="container">
  <ul class="info-curso">
    <li><i class="fa fa-user"></i> Apresentado por <strong>Diego Schell Fernandes</strong></li>
    <li><i class="fa fa-clock-o"></i> 180 minutos de curso</li>
    <li><i class="fa fa-file-text-o"></i> 3h de certificado</li>
  </ul>
</div>

<div class="box-aulas container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-aulas">
        <li class="header">Aulas</li>
        <li class="watched">
          <a href="aula">
            <i class="fa fa-check"></i> Introdução
            <span class="label label-primary m-l-10">Grátis</span>
            <time>18 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Estrutura de pastas
            <span class="label label-primary m-l-10">Grátis</span>
            <time>14 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Configuração Gulp e Git
            <time>10 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Criando o app e entendo o Angular
            <time>25 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Primeiro controller
            <time>22 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Service e directive
            <time>17 min</time>
          </a>
        </li>
        <li>
          <a href="aula">
            <i class="fa fa-play-circle"></i> Views e snippets
            <time>19 min</time>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
