<section class="box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1">
        <h1>Decole seus conhecimentos web!</h1>
        <p>Dê um passo adiante com a <strong>codeboss</strong>. Cursos completos em video-aula com todas tecnologias web que o mercado está de olho.</p>
        <a href="#" class="btn btn-primary btn-lg btn-signin">Começar a aprender <i class="fa fa-graduation-cap"></i></a>
      </div>
    </div>
  </div><!-- .container -->
</section><!-- .box-main -->

<section class="box-description">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <p>
          Todos os cursos da <strong>codeboss</strong> são criados pensando no cenário atual de programação web, assim, os temas que são abordados nas aulas te preparam diretamente para o mercado de trabalho.
        </p>
      </div>
    </div>
  </div>
</section><!-- .box-description -->

<section class="box-testimonials">
  <div class="container">
    <h1>Quem já aprendeu, aprova!</h1>
    <div class="row">
      <article class="col-md-4">
        <div class="comment">
          <img src="assets/img/avatar1.png" alt="">
          <h2>Diego Fernandes</h2>
          <p class="small">28/05/2016</p>
          <p class="message">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="course-about">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
      <article class="col-md-4">
        <div class="comment">
          <img src="assets/img/avatar2.png" alt="">
          <h2>Cleiton Souza</h2>
          <p class="small">28/05/2016</p>
          <p class="message">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="course-about">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
      <article class="col-md-4">
        <div class="comment">
          <img src="assets/img/avatar3.png" alt="">
          <h2>Tua Mãe</h2>
          <p class="small">28/05/2016</p>
          <p class="message">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="course-about">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
    </div>
  </div><!-- .container -->
</section><!-- .box-testimonials -->

<!-- blog posts -->
<section class="box-blog">
  <div class="container">
    <h1>Últimas do blog</h1>
    <div class="row">
      <article class="col-md-4">
        <div class="body">
          <a href="#"><img src="assets/img/post-example.jpg" alt=""></a>
        </div>
        <header>
          <h2><a href="#">Getting started with Simbla CMS</a></h2>
        </header>
      </article>
      <article class="col-md-4">
        <div class="body">
          <a href="#"><img src="assets/img/post-example.jpg" alt=""></a>
        </div>
        <header>
          <h2><a href="#">Use Laravel Valet for a Super Quick Dev Server</a></h2>
        </header>
      </article>
      <article class="col-md-4">
        <div class="body">
          <a href="#"><img src="assets/img/post-example.jpg" alt=""></a>
        </div>
        <header>
          <h2><a href="#">Contributing to Open Source Software with Git</a></h2>
        </header>
      </article>
    </div><!-- .row -->
  </div>
</section><!-- .box-blog -->
