<section class="main-call">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1">
        <h1>Decole seus conhecimentos web!</h1>
        <p>Dê um passo adiante com a <strong>codeboss</strong>. Cursos completos em video-aula com todas tecnologias web que o mercado está de olho.</p>
        <a href="" class="btn btn-primary btn-lg">Começar a aprender <i class="fa fa-graduation-cap"></i></a>
      </div>
    </div>
  </div><!-- .container -->
</section><!-- .main-call -->

<section class="bg-info p-t-50 p-b-50">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <p>
          Todos os cursos da <strong>codeboss</strong> são feitos visando o mercado atual de programação web, assim, os temas que são abordados nas aulas te preparam diretamente para o mercado de trabalho.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <h1>Quem já aprendeu, aprova!</h1>
    <div class="row m-t-50">
      <article class="col-md-4 m-b-20">
        <div class="comment bg-white b-2 b-primary p-20 p-t-50 p-b-50">
          <img src="assets/img/avatar1.png" alt="">
          <h2 class="m-t-15">Diego Fernandes</h2>
          <p class="small">28/05/2016</p>
          <p class="m-t-20 text-black font-normal">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="m-t-20">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
      <article class="col-md-4 m-b-20">
        <div class="comment bg-white b-2 b-primary p-20 p-t-50 p-b-50">
          <img src="assets/img/avatar2.png" alt="">
          <h2 class="m-t-15">Cleiton Souza</h2>
          <p class="small">28/05/2016</p>
          <p class="m-t-20 text-black font-normal">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="m-t-20">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
      <article class="col-md-4 m-b-20">
        <div class="comment bg-white b-2 b-primary p-20 p-t-50 p-b-50">
          <img src="assets/img/avatar3.png" alt="">
          <h2 class="m-t-15">Tua Mãe</h2>
          <p class="small">28/05/2016</p>
          <p class="m-t-20 text-black font-normal">Molestiae, quas, magnam. Fuga dolorum praesentium temporibus.</p>
          <p class="m-t-20">Sobre o curso: <strong>ReactJS: iniciante</strong></p>
        </div>
      </article>
    </div>
  </div><!-- .container -->
</section><!-- .testimonials -->

<!-- blog posts -->
<section class="container container-posts">
  <div class="row">
    <h1 class="text-center text-black font-semibold">Últimas do blog</h1>
  </div>
  <div class="row">
    <article class="col-md-4 post-box">
      <div class="body">
        <a href="#"><img src="http://the8guild.com/themes/html/nucleus/img/blog/post01.jpg" alt=""></a>
      </div>
      <header>
        <h2 class="title"><a href="#">Getting started with Simbla CMS</a></h2>
      </header>
    </article><!-- .post-box -->
    <article class="col-md-4 post-box">
      <div class="body">
        <a href="#"><img src="http://the8guild.com/themes/html/nucleus/img/blog/post01.jpg" alt=""></a>
      </div>
      <header>
        <h2 class="title"><a href="#">Use Laravel Valet for a Super Quick Dev Server</a></h2>
      </header>
    </article><!-- .post-box -->
    <article class="col-md-4 post-box">
      <div class="body">
        <a href="#"><img src="http://the8guild.com/themes/html/nucleus/img/blog/post01.jpg" alt=""></a>
      </div>
      <header>
        <h2 class="title"><a href="#">Contributing to Open Source Software with Git</a></h2>
      </header>
    </article><!-- .post-box -->
  </div><!-- .row -->
</section><!-- .posts -->
