.container-header {
  nav {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #EEE;

    ul li {
      display: inline-block;
      line-height: 38px;
      margin-left: 20px;

      a {
        @extend a.link;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media all and (max-width: 330px) {
    .container-header {
        nav {
            padding-left: 7.5px;
            margin-left: 7.5px;
        }
    }
}
