@import 'reset';
@import 'variables';
@import 'buttons';
@import 'form';
@import 'nav';
@import 'utils';

/**
 * Header
 */
.container-header {
  margin-top: 20px;
  padding-bottom: 20px;

  h1.logo {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    color: #000;

    img {
      padding-right: 5px;
    }
  }

  .toolbar {
    line-height: 32px;
  }
}

/**
 * Sidebar
 */
.sidebar {
  position: fixed;
  right: 15px;
  top: 50%;
  background: #FFF;
  border: 1px solid #eee;
  margin-top: -100px;

  a {
    font-size: 20px;
    padding: 4px 8px;
    margin: 5px;
    display: block;
    background: #f5f5f5;
  }
}

/**
 * Main
 */
.container-main {

  .main-call {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../assets/img/bg-call.jpg) no-repeat center bottom;
    min-height: 450px;
    text-align: center;

    h2 {
      font-size: 48px;
      font-weight: 600;
      color: #000;
    }

    p {
      font-size: 20px;
      margin: 20px 0 50px;
    }

    a {
      margin-top: 5px;
      transition: 0.2s;
      padding: 18px 40px;

      &:hover {
        margin-top: 0;
      }
    }
  }

  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../assets/img/bg-testimonials.jpg) no-repeat center top;
    border-bottom: 1px solid #EEE;
    text-align: center;

    h2 {
      font-size: 48px;
      font-weight: 600;
      color: #000;
    }

    .comment {
      color: #999;

      h3 {
        color: #000;
      }

      img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
      }
    }
  }

  .container-posts {
    .row {
      margin: 40px 0;
    }

    .post-box {
      position: relative;

      header {
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        padding: 30px 15px 10px;
        color: #FFF;
        transform: translateY(-100%);
        background: rgba(39, 38, 38, 0.7);
        background: linear-gradient(rgba(#111, .0), #000);
        transition: all linear 200ms;

        &:focus,
        &:hover {
          padding: 15px 15px 10px;

          a {
            text-shadow: 0 0 1px #111;
            color: #FFF;
          }
        }

        .title {
          position: relative;
          min-height: 20px;
          font-size: 18px;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          a {
            transition: all linear 200ms;

            &:focus,
            &:hover {
              text-shadow: 0 0 1px #111;
              color: #FFF;
            }
          }
        }
      }

      .body {
        position: relative;
        height: 200px;
        text-align: center;
        overflow: hidden;
        background-color: #FBFBFB;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: none;
          width: 100%;
          height: auto;
          transform: translate(-50%, -50%);
        }
      }

      footer {
        background-color: #FFF;
      }
    }
  }

  .categories {
    text-align: left;

    .category {
      display: block;
      padding: 15px;
      margin-top: 10px;
      transition: 0.2s;

      i {
        font-size: 28px;
      }

      h3 {
        color: #FFF;
        margin-top: 20px;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
        font-style: italic;
        opacity: 0.8;
      }

      &:hover {
        color: #FFF;
      }
    }
  }
}

@media (min-width: 992px ) {
  .main-call .categories .category:hover { margin-top: 0; }
}

/**
 * Footer
 */
.container-footer {
  padding: 20px 0;

  p {
    font-weight: 600;
    color: #000;
    line-height: 32px;
  }
}
