@import 'reset';
@import 'variables';
@import 'buttons';
@import 'form';
@import 'nav';
@import 'utils';

@import 'pages/home';

/**
 * Sign in
 */
#signin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  .login-box {
    background: #FFF;
    min-height: 300px;
    margin-top: -300px;
    transition: 0.1s ease-in;
  }

  &.show {
    visibility: visible;
    opacity: 1;

    .login-box {
      margin-top: 100px;
    }
  }
}

/**
 * Header
 */
.container-header {
  margin-top: 20px;
  padding-bottom: 20px;

  h1.logo {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    color: #000;

    img {
      padding-right: 5px;
    }
  }

  nav {
    display: inline-block;

    ul li {
      display: inline-block;
      line-height: 32px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .toolbar {
    line-height: 32px;
    float: right;

    @media (max-width: 768px) {
      & {
        float: none;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #EEE;
        text-align: center;
      }
    }
  }
}

/**
 * Sidebar
 */
.sidebar {
  position: fixed;
  right: 15px;
  top: 50%;
  background: #FFF;
  border: 1px solid #eee;
  margin-top: -100px;
  z-index: 50;
  box-shadow: 0 0 3px 0 #666;

  a {
    font-size: 16px;
    padding: 6px 10px;
    margin: 5px;
    display: block;
    background: #f5f5f5;
    text-align: center;
  }
}

/**
 * Footer
 */
.container-footer {
  padding: 20px 0;

  p {
    font-weight: 600;
    color: #000;
    line-height: 32px;
  }
}
