@import 'reset';
@import 'variables';
@import 'buttons';
@import 'form';
@import 'nav';
@import 'utils';

@import 'pages/home';
@import 'pages/login';

/**
 * Sign in
 */
#signin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 250ms ease-in;

  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 100;

    .login-box {
      top: 50%;;
      transform: translate(-50%, -50%) translateZ(0);
    }
  }

  .login-box {
    position: absolute;
    top: 0;
    left: 50%;
    width: 320px;
    background: #FFF;
    min-height: 300px;
    transform: translate(-50%, -100%) translateZ(0);
    transition: all 250ms ease-in;

    .title {
      display: block;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
      color: #000;
    }
  }

  .close-login-box {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 14px;
  }

  .btn-facebook {
    background-color: #3B5998;

    &:hover,
    &:focus {
      background-color: darken(#3B5998, 10%);
    }
  }

  .btn-google {
    background-color: #DC4E41;

    &:hover,
    &:focus {
      background-color: darken(#DC4E41, 10%);
    }
  }

  .left-icon {
    margin-right: 15px;
  }

  .ou-separator {
    position: relative;
    display: block;
    text-align: center;
    margin: 15px 0 !important;

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #EEE;
      z-index: 2;
    }

    span {
      position: relative;
      display: inline-block;
      padding: 0 5px;
      background-color: #FFF;
      z-index: 4;
    }
  }
}

/**
 * Header
 */
.container-header {
  margin-top: 20px;
  padding-bottom: 20px;

  h1.logo {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    color: #000;

    img {
      padding-right: 5px;
    }
  }

  .toolbar {
    line-height: 32px;
    float: right;

    @media (max-width: 768px) {
      & {
        float: none;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #EEE;
        text-align: center;
      }
    }
  }
}

/**
 * Sidebar
 */
.sidebar {
  position: fixed;
  right: 15px;
  top: 50%;
  background: #FFF;
  border: 1px solid #eee;
  margin-top: -100px;
  z-index: 50;
  box-shadow: 0 0 3px 0 #666;

  a {
    font-size: 16px;
    padding: 6px 10px;
    margin: 5px;
    display: block;
    background: #f5f5f5;
    text-align: center;

    &:hover,
    &:focus {
      i.fa-facebook {
        color: #3B5998;
      }

      i.fa-twitter {
        color: #55ACEE;
      }

      i.fa-github-alt {
        color: #333;
      }
    }
  }
}

/**
 * Footer
 */
.container-footer {
  padding: 20px 0;

  p {
    font-weight: 600;
    color: #000;
    line-height: 32px;
  }
}
