.form-group {
  display: block;
  margin-bottom: 10px;

  label {
    margin-bottom: 3px;
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 600;
  }

  input.form-control {
    display: block;
    border: 1px solid #eee;
    padding: 15px;
    color: #333;
    width: 100%;
    font: 13px Arial, sans-serif;
  }
}
