/**
 * Background colors
 */
.bg-white   { background-color: #FFFFFF; }
.bg-default { background-color: $default-color; }
.bg-primary { background-color: $primary-color; }
.bg-info    { background-color: $info-color; }
.bg-warning { background-color: $warning-color; }
.bg-danger  { background-color: $danger-color; }
.bg-success { background-color: $success-color; }

/**
 * Colors
 */
.text-white   { color: #FFFFFF; }
.text-default { color: $default-color; }
.text-primary { color: $primary-color; }
.text-info    { color: $info-color; }
.text-warning { color: $warning-color; }
.text-danger  { color: $danger-color; }
.text-success { color: $success-color; }

/**
 * Margin
 */
.no-margin { margin: 0; }

.m-t-5   { margin-top: 5px; }
.m-t-10  { margin-top: 10px; }
.m-t-15  { margin-top: 15px; }
.m-t-20  { margin-top: 20px; }
.m-t-30  { margin-top: 30px; }
.m-t-50  { margin-top: 50px; }
.m-t-100 { margin-top: 100px; }

.m-b-5   { margin-bottom: 5px; }
.m-b-10  { margin-bottom: 10px; }
.m-b-15  { margin-bottom: 15px; }
.m-b-20  { margin-bottom: 20px; }
.m-b-30  { margin-bottom: 30px; }
.m-b-50  { margin-bottom: 50px; }
.m-b-100 { margin-bottom: 100px; }

.m-l-5   { margin-left: 5px; }
.m-l-10  { margin-left: 10px; }
.m-l-15  { margin-left: 15px; }
.m-l-20  { margin-left: 20px; }
.m-l-30  { margin-left: 30px; }
.m-l-50  { margin-left: 50px; }
.m-l-100 { margin-left: 100px; }

.m-r-5   { margin-right: 5px; }
.m-r-10  { margin-right: 10px; }
.m-r-15  { margin-right: 15px; }
.m-r-20  { margin-right: 20px; }
.m-r-30  { margin-right: 30px; }
.m-r-50  { margin-right: 50px; }
.m-r-100 { margin-right: 100px; }


/**
 * Padding
 */
.no-padding { padding: 0; }

.p-t-5   { padding-top: 5px; }
.p-t-10  { padding-top: 10px; }
.p-t-15  { padding-top: 15px; }
.p-t-20  { padding-top: 20px; }
.p-t-30  { padding-top: 30px; }
.p-t-50  { padding-top: 50px; }
.p-t-100 { padding-top: 100px; }

.p-b-5   { padding-bottom: 5px; }
.p-b-10  { padding-bottom: 10px; }
.p-b-15  { padding-bottom: 15px; }
.p-b-20  { padding-bottom: 20px; }
.p-b-30  { padding-bottom: 30px; }
.p-b-50  { padding-bottom: 50px; }
.p-b-100 { padding-bottom: 100px; }

.p-l-5   { padding-left: 5px; }
.p-l-10  { padding-left: 10px; }
.p-l-15  { padding-left: 15px; }
.p-l-20  { padding-left: 20px; }
.p-l-30  { padding-left: 30px; }
.p-l-50  { padding-left: 50px; }
.p-l-100 { padding-left: 100px; }

.p-r-5   { padding-right: 5px; }
.p-r-10  { padding-right: 10px; }
.p-r-15  { padding-right: 15px; }
.p-r-20  { padding-right: 20px; }
.p-r-30  { padding-right: 30px; }
.p-r-50  { padding-right: 50px; }
.p-r-100 { padding-right: 100px; }

/**
 * Align
 */
.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

/**
 * Text sizes
 */
.small { font-size: 12px; }
.large { font-size: 16px; }

/**
 * Border options
 */
.b-t-1 { border-top: 5px solid #eee; }
.b-t-2 { border-top: 5px solid #eee; }
.b-t-5 { border-top: 5px solid #eee; }

.b-l-1 { border-left: 5px solid #eee; }
.b-l-2 { border-left: 5px solid #eee; }
.b-l-5 { border-left: 5px solid #eee; }

.b-r-1 { border-right: 5px solid #eee; }
.b-r-2 { border-right: 5px solid #eee; }
.b-r-5 { border-right: 5px solid #eee; }

.b-b-1 { border-bottom: 5px solid #eee; }
.b-b-2 { border-bottom: 5px solid #eee; }
.b-b-5 { border-bottom: 5px solid #eee; }

.b-default { border-color: $default-color; }
.b-primary { border-color: $primary-color; }
.b-info    { border-color: $info-color; }
.b-warning { border-color: $warning-color; }
.b-danger  { border-color: $danger-color; }
.b-success { border-color: $success-color; }

.b-default-light { border-color: lighten($default-color, 10%); }
.b-primary-light { border-color: lighten($primary-color, 10%); }
.b-info-light    { border-color: lighten($info-color, 10%); }
.b-warning-light { border-color: lighten($warning-color, 10%); }
.b-danger-light  { border-color: lighten($danger-color, 10%); }
.b-success-light { border-color: lighten($success-color, 10%); }

.b-default-lighter { border-color: lighten($default-color, 20%); }
.b-primary-lighter { border-color: lighten($primary-color, 20%); }
.b-info-lighter    { border-color: lighten($info-color, 20%); }
.b-warning-lighter { border-color: lighten($warning-color, 20%); }
.b-danger-lighter  { border-color: lighten($danger-color, 20%); }
.b-success-lighter { border-color: lighten($success-color, 20%); }

.b-default-dark { border-color: darken($default-color, 10%); }
.b-primary-dark { border-color: darken($primary-color, 10%); }
.b-info-dark    { border-color: darken($info-color, 10%); }
.b-warning-dark { border-color: darken($warning-color, 10%); }
.b-danger-dark  { border-color: darken($danger-color, 10%); }
.b-success-dark { border-color: darken($success-color, 10%); }

.b-default-darker { border-color: darken($default-color, 20%); }
.b-primary-darker { border-color: darken($primary-color, 20%); }
.b-info-darker    { border-color: darken($info-color, 20%); }
.b-warning-darker { border-color: darken($warning-color, 20%); }
.b-danger-darker  { border-color: darken($danger-color, 20%); }
.b-success-darker { border-color: darken($success-color, 20%); }

/**
 * Link
 */
a.link {
  font-weight: 600;
  color: #000;
  transition: 0.2s;

  &.cb-link-bordered {
    border-bottom: 1px dashed $default-color;
    padding-bottom: 2px;
  }

  &:hover {
    text-decoration: none;
    color: $default-color;
  }
}
