.box-curso {
  background: #f5f5f5;
  padding: 50px 0;
  text-align: center;

  h1 {
    font-weight: 600;
    margin-top: 30px;
    color: #333;
    font-size: 48px;
  }

  p {
    margin-top: 10px;
  }

  .info {
    font-size: 13px;
    margin-top: 20px;
    color: #999;
    font-weight: 600;
    text-transform: uppercase;

    span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #ddd;
    }
  }
}

ul.info-curso {
  margin-top: 30px;
  text-align: center;

  li {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #EEE;
    display: inline-block;

    @media (max-width: 768px) {
      display: block;
      border: 0;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #EEE;
    }

    &:first-child {
      padding: 0;
      margin: 0;
      border: 0;
    }

    i {
      width: 25px;
      text-align: center;
    }
  }
}

.box-aulas {
  margin: 30px auto;

  ul.list-aulas {

    li {
      &.header, &.modulo, a {
        border: 1px solid #EEE;
        border-top: 0;
        padding: 15px;
        display: block;

        &.header {
          @extend .bg-info;
          color: #FFF;
          font-weight: 600;
        }

        &.modulo {
          background: #f5f5f5;
          color: #666;
          font-weight: 600;
        }

        i {
          margin-right: 5px;
        }

        time {
          float: right;

          @media (max-width: 768px) {
            display: block;
            font-size: 13px;
            float: none;
            margin-left: 22px;
            font-weight: 300;
          }
        }
      }

      a:hover,
      a:focus {
        background: #f5f5f5;
        color: #333;
      }

      &.active a {
        background: lighten($default-color, 50%);
      }

      &:first-child a {
        border:0;
      }

      &.watched a {
        @extend .text-primary;
      }
    }

  }
}

.box-aula {
  background: #333;
  text-align: center;
  color: #FFF;
  height: 0;
  transition: 0.2s ease-in;

  &.box-aula-open {
    padding: 20px 0;

    iframe, .info, .top {
      display: block;
    }

    @media (max-width: 992px) {
      height: 660px !important;
    }

    @media (max-width: 768px) {
      height: 510px !important;
    }
  }

  .top {
    height: 35px;
    margin-bottom: 20px;
    display: none;

    ul {
      font-size: 14px;
      float: left;

      li {
        display: inline-block;
        margin-left: 5px;
        color: #666;

        a {
          line-height: 28px;
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    .close {
      color: #666;
      font-size: 20px;
      text-align: right;
      float: right;
      line-height: 35px;
    }
  }

  iframe {
    display: none;
    width: 100%;
    height: 100%;
    border: 10px solid #444;
    transition: 0.2s ease-in;

    @media (max-width: 992px) {
      height: 500px !important;
    }

    @media (max-width: 768px) {
      height: 350px !important;
    }
  }

  .info {
    margin-top: 20px;
    text-align: left;
    display: none;

    h2, time {
      line-height: 32px;
      font-weight: 600;
      font-size: 20px;
    }

    .pull-right {
      text-align: right;
    }

  }
}

.box-discussao {
  margin: 50px auto;
  text-align: center;

  h2 {
    font-weight: 600;
    color: #000;
    font-size: 36px;
  }

  .comments {
    margin-top: 30px;

    p {
      font-size: 13px;
      margin-bottom: 5px;
    }

    form {
      text-align: left;
    }

    .trumbowyg-box,
    .trumbowyg-editor {
      min-height: 120px ;

      ul {
        list-style: disc;
      }

      ol {
        list-style: decimal;
      }
    }

    ul.comment-list {
      margin-top: 20px;

      li {
        margin-bottom: 20px;

        .comentario {
          padding: 20px;
          border: 1px solid #EEE;
          text-align: left;
          position: relative;
        }

        &.resposta {

          .comentario {
            margin-top: 10px;
            background: #f5f5f5;

            &:after, &:before {
              bottom: 100%;
              left: 85%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: #f5f5f5;
              border-width: 20px;
              margin-left: -20px;
            }

            &:before {
              border-color: rgba(238, 238, 238, 0);
              border-bottom-color: #eee;
              border-width: 21px;
              margin-left: -21px;
            }
          }
        }

        .img {
          text-align: center;

          img {
            border-radius: 50%;
          }

          .label {
            margin-top: 10px;
          }
        }

        .header {
          line-height: 25px;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;

          @media (max-width: 768px) {
            margin-top: 10px;
          }

          strong {
            color: #000;
            font-size: 18px;
          }

          time {
            font-size: 13px;
          }
        }

        .content {
          margin-top: 20px;
          color: #666;
          line-height: 32px;

          pre {
            display: inline;

            code {
              background: #f5f5f5;
              padding: 3px;
              border: 1px solid #EEE;
              border-radius: 3px;
              font-size: 14px;
            }
          }

          .link-resposta {
            @extend .text-default;
          }
        }
      }
    }
  }
}

