.box-cursos {
  background: #2895f1 url(../assets/img/bg-cursos.jpg) no-repeat center bottom;
  padding-bottom: 350px;
  padding-top: 50px;

  .row {
    margin-bottom: 20px;
  }

  .curso {
    padding: 25px;
    cursor: pointer;
    text-align: center;
    background: #FFF;
    margin-top: 5px;
    transition: 0.2s;

    &:hover {
      margin-top: 0;
    }

    .image {


      img {
      }
    }

    .info {
      margin-top: 15px;

      h2 {
        font-size: 24px;

        i {
          margin-right: 5px;
        }
      }

      p {
        font-size: 15px;
        margin-top: 5px;
      }
    }

  }
}

