.box-categorias {
  background: #2895f1 url(../images/bg-cursos.jpg) no-repeat center bottom;
  padding-bottom: 350px;
  padding-top: 50px;

  .row {
    margin-bottom: 20px;
  }

  .curso {
    padding: 25px;
    text-align: center;
    background: #FFF;
    margin-top: 5px;
    transition: 0.2s;
    display: block;
    transform: translateZ(0);

    &:focus,
    &:hover {
      transform: translateY(-5px) translateZ(0);
    }

    .info {
      margin-top: 15px;

      h2 {
        font-size: 24px;
        color: #333;
        font-weight: 600;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}